<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon/favicon.ico">
    <link rel="icon" type="image/gif" href="favicon/animated_favicon1.gif">
    <title> ACTUALIZAR ASISTENCIA </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style3.css">
</head>
<body>

    <!--Header-->
        <header id="header">
            <nav>
                <div class = "container">
                    <div class = "text-center">

                    </div>
                </div>
            </nav>
        </header>
    <!--/Header-->
