<!-- include header -->
    <%- include('include/_header') %>
<!-- /include header -->

<!--Main-->
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <div class="filter">
                    <a href="/"><i class="fas fa-angle-double-left"></i></a>
                </div>
            </div>
            <div class="form-title text-ali">
                <h2 class="test dark">
                    <div class="text-justify">
                     Registra Tu Asistencia
                    </div>
                </h2>
                <span class = "text-light">Utilice el siguiente formulario para registrar su asistencia
                </span>
            </div>

        <!-- add user -->
            <%- include('include/_form') %>
        <!-- /add user -->

        </div>
    </main>
    <!--/Main-->

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->